<div class="main-container">
  <img class="background-image" src="assets/orn-background-2.jpg" alt="">
  <button class="button-69" role="button" (click)="generateBuild()">Gerar Build</button>
  <div class="champion-box">
    <div class="inside-content-wrapper">

      <div class="selected-champion-box">
        <img
          class="default-image-config"
          [src]="selectedChampion1 ? selectedChampion1.displayImage : 'assets/image/none-selected-champ.png'"
        >
      </div>

      <div class="select-champion-container" *ngIf="!loadingChampions">
        <ng-container *ngFor="let champ of champions">
          <div class="default-image-name-container" (click)="onSelectChampion(1, champ.name)">
            <img class="default-image-config-w-m" [src]="champ.displayImage" itemtype="rounded">
            <p>{{ champ.name }}</p>
            <span class="title">{{ champ.title }}</span>
            <div class="difficult-container" *ngIf="getDifficult(champ.info.difficulty) as difficult">
              <span
                style="height: 16px; width: 16px; border-radius: 50%; display: flex; margin-right: 8px"
                [ngStyle]="{ 'border': '3px solid ' + difficult.color }">
              </span>
              <span [style.color]="difficult.color">{{ difficult.difficult }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="inside-content-wrapper">

      <div class="selected-champion-box">
        <img
          class="default-image-config"
          [src]="selectedChampion2 ? selectedChampion2.displayImage : 'assets/image/none-selected-champ.png'"
        >
      </div>

      <div class="select-champion-container" *ngIf="!loadingChampions">
        <ng-container *ngFor="let champ of champions">
          <div class="default-image-name-container" (click)="onSelectChampion(2, champ.name)">
            <img class="default-image-config-w-m" [src]="champ.displayImage" alt="Place image title" itemtype="rounded">
            <p>{{ champ.name }}</p>
            <span class="title">{{ champ.title }}</span>
            <div class="difficult-container" *ngIf="getDifficult(champ.info.difficulty) as difficult">
              <span
                style="height: 16px; width: 16px; border-radius: 50%; display: flex; margin-right: 8px"
                [ngStyle]="{ 'border': '3px solid ' + difficult.color }">
              </span>
              <span [ngStyle]="{ 'color': difficult.color }">{{ difficult.difficult }}</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="result-container">
    <ng-container *ngFor="let i of generatedItems">
      <div class="item-container">
        <img
          style="border-radius: 50%"
          class="default-image-config-w-m"
          [src]="i.displayImage" itemtype="rounded"
          [style.border]="'2px solid #456083'">
        <span>{{ i.name }}</span>
      </div>
    </ng-container>
  </div>

  <!--  <img style="position: absolute; width: 50%; height: 50%" class="default-image-config-w-m" [src]="imageToShow" alt="Place image title">-->
</div>
